//color variable
$Primary-Color: #253aa3;

p {
  margin: 0;
}
.primary-color {
  color: $Primary-Color;
}
body {
  background-color: #ffffff;
  overflow-x: hidden;
  /* width */
}
.navbar {
  background-color: $Primary-Color;
  .container {
    position: relative;
  }
  .navbar-toggler {
    &:focus {
      border: 1px solid #f4f4f4;
      outline: none;
    }
    .fa-bars {
      color: #ffffff;
      font-size: 34px;
    }
  }
  .navbar-brand {
    font-weight: 500;
    font-size: 2.5rem;
    color: #ffffff;
  }
  .nav-item {
    margin-right: 5px;
    &:hover {
      background-color: #ffffff;
      border-radius: 5px;
      .nav-link {
        color: $Primary-Color;
      }
    }
    .nav-link {
      color: #f4f4f4f4;
      padding: 0.5rem 1rem;
      font-weight: 600;
    }
  }
  .dropdown {
    cursor: pointer;
    .dropdown-menu {
      border: 1px solid #d3d3d3;
      background-color: #ffffff;
      box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
      a {
        &:hover {
          background-color: $Primary-Color;
          color: #ffffff;
        }
      }
    }
  }
}
.page-body {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.landing-bg-img1 {
  position: absolute;
  left: 32%;
  top: 55px;
  opacity: 0.8;
}
.landing-bg-img2 {
  position: absolute;
  right: -15px;
  opacity: 0.8;
  top: 84px;
}
.ellipse-square {
  position: absolute;
  margin-left: -15px;
}
.main-title {
  text-align: center;
  font-weight: 600;
  color: $Primary-Color;
}
//buttons starts
.btn {
  display: inline-block;
  background-color: $Primary-Color;
  color: white;
  font-size: 0.9rem;
  outline: none;
  border: none;
  padding: 6px 12px;
  text-align: center;
  &:focus {
    outline: none;
  }
  &:hover {
    color: #ffffff;
    transform: scale(1.05);
    border-radius: 4px;
    box-shadow: 0px 4px 15px rgba(7, 79, 223, 0.329);
  }
}
.message-btn {
  font-size: 0.9rem;
  background: #ffffff;
  color: $Primary-Color;
  outline: none;
  border: none;
  font-weight: 500;
  padding: 14px 20px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  &:hover {
    color: $Primary-Color;
  }
}
.form-btns {
  background-color: #ffffff;
  padding: 9px 15px;
  display: inline-block;
  color: $Primary-Color;
  border-radius: 6px;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  &:hover {
    color: $Primary-Color;
    box-shadow: 0px 4px 15px rgba(201, 206, 218, 0.329);
  }
}
//buttons ends
.img-cycle-prop {
  background-color: #f8f9fd;
  padding: 3rem 0;
  margin-top: -3rem;
  .collab {
    width: 260px;
    font-weight: 500;
    color: $Primary-Color;
    margin: 1.5rem;
    opacity: 0.8;
    border-bottom: 30px solid #eceff8;
    line-height: 1;
    font-size: 2.3rem;
  }
  .list {
    background-color: #eceff8;
    overflow: hidden;
    opacity: 0.9;
    color: #000000;
    border-radius: 5px;
    padding: 20px 5px;
    ul {
      padding-left: 2.2rem;
      li {
        font-size: 1rem;
      }
    }
  }
  .cycle-img {
    padding: 1rem 1rem 0 0;
    position: relative;
    img {
      border: 1px solid #d3d3d3;
      border-top: 0;
      border-left: 0;
      position: absolute;
      bottom: 0;
    }
  }
}
.video-section {
  padding: 3rem 0;
  .box {
    height: 385px;
  }
}
.reviewComments {
  padding: 1rem 0 1rem 0;
  background-color: #f8f9fd;
  .carousel {
    .carousel-indicators {
      bottom: -45px;
      li {
        height: 15px;
        width: 15px;
        border-radius: 50%;
        background-color: #d3d3d3;
      }
      .active {
        background-color: #00000050;
      }
    }
  }
}
.corporates-slides {
  margin: 5rem 0 3rem 0;
  .carousel {
    background-color: #ffffff;
  }
  .container {
    position: relative;
  }
  .carousel-control-prev {
    width: 30px;
    color: #00000032;
    font-size: 30px;
    opacity: 1;
    background: #ffffff;
  }
  .carousel-control-next {
    width: 30px;
    color: #00000032;
    font-size: 30px;
    opacity: 1;
    background: #ffffff;
  }
}
.stats-detail {
  padding: 0 5rem;
  .stats-detail-block {
    border-radius: 10px;
    background-color: $Primary-Color;
    padding: 24px;
    display: block;
    width: 100%;
    .icon {
      font-size: 4rem;
      text-align: center;
      color: #ffffff;
    }
    .value {
      color: #ffffff;
      font-size: 1.5rem;
    }
    .text {
      color: #ffffff;
      font-size: 1rem;
      text-align: center;
    }
  }
}

.CUS_Stats-block {
  margin-bottom: 3rem;
  padding: 0 5rem;
  .stat-info-widget {
    width: 100%;
    margin-bottom: 1rem;
    padding: 24px;
    border: 1px solid #d3d3d3;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    .stat-icons {
      position: absolute;
      right: -28px;
      bottom: -18px;
      color: #ffffff;
      opacity: 0.5;
      font-size: 8.5rem;
    }
    .stat-info-content {
      text-transform: uppercase;
      color: white;
      .title {
        font-weight: 500;
        font-size: 1rem;
      }
      .sub-title {
        font-weight: 400;
        letter-spacing: 4px;
        font-size: 0.8rem;
      }
      .stat-info-no {
        line-height: 1.2;
        font-size: 4rem;
        font-weight: bold;
      }
    }
  }
  .corp-rad {
    background: transparent linear-gradient(91deg, #f68b10 0%, #f44e7f 100%) 0%
      0% no-repeat padding-box !important;
  }
  .univ-rad {
    background: transparent linear-gradient(91deg, #8310f6 0%, #12b8d3 100%) 0%
      0% no-repeat padding-box !important;
  }
  .stud-rad {
    background: transparent linear-gradient(91deg, #f610e1 0%, #7b0beb 100%) 0%
      0% no-repeat padding-box !important;
  }
}
.main-titles {
  margin: 2rem 0;
  font-size: 1.5rem;
  letter-spacing: 0px;
  color: #000000;
  opacity: 0.8;
  text-transform: uppercase;
}
.Stats {
  padding: 0 6rem;
  .stat-widget {
    padding: 5px 10px;
    margin-bottom: 1rem;
    background-color: $Primary-Color;
    min-height: 60px;
    border-right: 1px solid white;
    &:first-child {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }
    &:last-child {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }
    .statNo {
      color: white;
      padding: 0 10px;
      float: left;
      margin-right: 10px;
      font-size: 2rem;
      font-weight: bold;
    }
    .stat-content {
      margin-left: 20px;
      height: 100%;
      color: white;
      text-transform: uppercase;
      .title {
        font-size: 0.8rem;
        padding: 5px 0;
      }
      .sub-title {
        font-size: 0.8rem;
      }
      .sub-title-1 {
        font-size: 1.2rem;
      }
    }
  }
  .stat-widget:last-of-type {
    border-right: none;
  }
}

.stat-info-widget .stat-info-content {
  text-transform: uppercase;
  color: white;
}
.commnets-detail {
  .comments-detail-block {
    position: relative;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2),
      0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    padding: 15px 20px;
    border-radius: 10px;
    background-color: #ffffff;

    .quote-icon {
      position: absolute;
      color: #000000;
      font-size: 3rem;
      left: 40px;
      opacity: 0.1;
    }
    .circle {
      height: 5rem;
      width: 5rem;
      border-radius: 50%;
      text-align: center;
      background-color: $Primary-Color;
    }
    .title {
      font-size: 1rem;
      font-weight: 500;
    }
    .title2 {
      font-size: 0.8rem;
      font-weight: 500;
      color: #9c9c9c;
    }
    .message {
      text-align: center;
    }
  }
  .light-slider-box {
    width: 350px;
    height: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 20px 10px;
  }
}
hr {
  width: 90px;
  border-style: solid;
  border-bottom-width: 2px;
  border-color: #d3d3d3;
  animation: slider 400ms ease-in;
}
@keyframes slider {
  0% {
    transform: translateX(-80px);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
.policy-terms {
  padding: 0 103px;
  color: #000000;

  .policy-heading h1 {
    text-align: center;
    font-weight: 600;
    color: $Primary-Color;
  }
  .policy-paragraphs {
    p {
      font-size: 20px;
      margin-bottom: 15px;
    }
    .policy-listings {
      padding-right: 20px;
    }
    label {
      font-size: 22px;
      margin: 0;
      font-weight: 600;
    }
    ul li {
      padding: 5px 0;
    }
    ol {
      font-size: 18px;
    }
  }
  .terms-para p,
  .discl {
    margin-bottom: 2rem;
  }

  .padspacing {
    padding: 0 20px;
  }
}
.our-team {
  background-color: #f8f9fd;
  .team_card {
    // height: 220px;
    height: auto;
    width: 80%;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2),
      0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    margin: 0 auto 3rem auto;
    padding: 10px;
    border-radius: 10px;
    overflow: hidden;
    .circle {
      height: 120px;
      border: 1px solid #d3d3d3;
      overflow: hidden;
      width: 120px;
      justify-content: center;
      display: flex;
      border-radius: 50%;
      img {
        height: 140px;
        margin-top: -16px;
      }
    }
    .member {
      display: flex;
      flex-direction: column;
      align-items: center;
      border-right: 1px solid #d3d3d3;
      margin: 16px 0;
      .fa-user-circle {
        font-size: 120px;
        color: #9c9c9c;
      }
      .name {
        font-weight: 500;
        font-size: 20px;
        padding-top: 10px;
      }
      .designation {
        color: #9c9c9c;
        font-size: 16px;
        text-align: center;
      }
    }
    .description {
      // height: 190px;
      height: auto;
      padding: 10px;
      overflow: hidden;
      text-overflow: ellipsis;

      p {
        margin-bottom: 1rem;
        font-size: 14px;
      }
      .read-more {
        color: $Primary-Color;
        font-weight: bold;
        cursor: pointer;
      }
    }
  }
}

.footer-block {
  padding: 4rem;
  background-color: $Primary-Color;
  .address-details {
    h1 {
      color: #ffffff;
      font-size: 3rem;
    }
    p {
      opacity: 0.8;
      color: #ffffff;
    }
  }
  .copyright-text {
    display: flex;
    color: #ffffff;
    opacity: 0.8;
    align-items: flex-end;
  }
  .socials {
    display: block;
    width: 100%;
    color: #ffffff;
    .social-text {
      opacity: 0.8;
      cursor: pointer;
      letter-spacing: 0.5px;
      font-weight: 500;
      &:hover {
        opacity: 1;
      }
    }
  }
  .policy-links {
    display: block;
    color: #ffffff;
    a {
      text-decoration: none;
      width: 100%;
      color: #ffffff;
      margin: 0 5px;
      opacity: 0.8;
      &:hover {
        opacity: 1;
        border-bottom: 1px solid #ffffff;
      }
    }
  }
}

//****media queries for mobile and tablet devices***
@media screen and (max-width: 1000px) {
  .navbar {
    .nav-item {
      border-bottom: 1px solid #9c9c9c;
    }
    .dropdown {
      .dropdown-menu {
        background: $Primary-Color;
        border: none;
        color: #ffffff;
        border-radius: 0;
        box-shadow: none;
        a {
          color: #ffffff;
          opacity: 0.8;
        }
      }
    }
    .form-buttons {
      margin-top: 1rem;
    }
  }
  .landing-page {
    .landing-bg-img1 {
      height: 100px;
      width: 100px;
      top: 85px;
    }
    .landing-bg-img2 {
      height: 100px;
      width: 120px;
      right: 0;
    }
    .cycle-img {
      padding: 0 15px;
      img {
        position: inherit;
        width: 100%;
        height: 100%;
      }
    }
    .video-section {
      .box {
        height: 214px;
      }
    }
    .reviewComments {
      padding: 2rem 0;
      .light-slider-box {
        width: 300px;
      }
    }
    .Stats {
      padding: 0 3rem;
      .stat-widget {
        border-radius: 10px;
      }
    }
    .stats-detail {
      padding: 0 2rem;
    }
    .CUS_Stats-block {
      padding: 0 2rem;
    }
  }
  .our-team {
    .team_card {
      width: 100%;
    }
  }
  .policy-terms {
    padding: 0;
  }
  .footer-block {
    padding: 60px 15px 30px 15px;
    .address-details {
      margin-bottom: 3rem !important;
      text-align: center !important;
    }
    .copyright-box {
      margin-top: 3rem;
      display: flex;
      flex-direction: column-reverse;
      .contact-us {
        text-align: center !important;
        .message-btn {
          margin-bottom: 1rem;
        }
      }
      .copyright-text {
        justify-content: center;
        margin: 1rem 0;
      }
      .policy-links {
        text-align: center;
        a {
          margin: 0;
        }
      }
    }
  }
}
